@import "input.css";
@import "reply.css";
@import "says.css";
@import "setup.css";
@import "typing.css";
body {
    background-size: 600px 300px;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-weight: 400;
    font-size: 15px;
}

.chat-widget-wrapper {
    display: block;
    width: 400px;
    height: 62px;
    position: absolute;
    bottom: 20px;
    right: 0;
    padding: 10px;
    cursor: pointer;
    animation: all 2s linear;
}

.chat-widget-container {
    /*box-shadow:4px 4px 3px 3px rgba(20%,20%,40%,0.5);*/
    position: relative;
    padding: 10px;
    /*background-color: #fff;*/
    background-color: transparent;
    border-radius: 4px;
}
.chat-widget-container.open {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.chat-widget-container .chat-widget-text p {
    margin: 0 auto;
    color: #808080;
}
.chat-widget-container .chat-widget-text p.heading {
    color: #00aeef;
    font-weight: 600;
}

.chat-widget-avatar {
    /*box-shadow:4px 4px 3px 3px rgba(20%,20%,40%,0.5);*/
    background-color: transparent;
    width: 80px;
    height: 80px;
    position: absolute;
    top: -11px;
    right: 30px;
    border: 4px solid transparent;
    border-radius: 50%;
}

.chat-box-container {
    position: absolute;
    width: 400px;
    height: 0;
    background-color: #f1f1f1;
    /*background-image: url("../image/Background.png");*/
    background-position: center;
    background-repeat: no-repeat;
    bottom: 10px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    overflow: hidden;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    z-index: -1;
}
.chat-box-container.show {
    bottom: 72px;
    height: 560px;
    border-radius: 15px;
    border: .5px solid #DCDCDC;
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
}

.chat-box-container .chat-box-nav {
    /*background-color: #00aeef;*/
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    background-color: #8fc223;
    color: white;
    border-bottom: .5px solid #DCDCDC;
    width: 100%;
    height: 40px;
}

.custom-nav {
    width: 99.8%;
    height: 40px;
    margin: 0px 2px 0px 0px;
    background-color: #DCDCDC;
    border: #444 solid 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.custom-border {
    width: 100%;
    margin: 0 auto;
    border-radius:10px;
    border: #f3f3f5 solid 1px;
    /*background-image: url('../../img/chat_widget/Background.png');*/
    background-color: white;
    box-shadow:2px 2px 4px #808080;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.custom-nav label {
    color: white;
    font-size: 30px;
}

.exist-button {
    width: 10%;
    height: 100%;
    margin :0 0 0 10px;
    background-color: transparent;
    border: none;
}

@media only screen and (max-device-width:240px){
    .chat-widget-wrapper {
        zoom: 200%;
    }
    .chat-box-container{
        width: 100%;
    }
}
@media only screen and (max-device-width : 340px){
    .chat-widget-wrapper {
        zoom: 220%;
    }
    .chat-box-container{
        width: 100%;
    }
}

@media only screen and (max-device-width : 440px){
    .chat-widget-wrapper {
        zoom: 230%;
    }
    .chat-box-container{
        width: 100%;
    }
}

@media only screen and (max-device-width : 540px){
    .chat-widget-wrapper {
        zoom: 240%;
    }
    .chat-box-container{
        width: 100%;
    }
}


