/* style user input field */
::placeholder {
	color: #ecb82c;
}
.bubble-container .input-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #2c2c2c;
}
.bubble-container .input-wrap textarea {
	width: 90%;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #2c2c2c;
	background: transparent;
	font-size: 18px;
	letter-spacing: .5px;
	font-weight: 400;
	margin: 0 10px 0 10px;
	border-radius: 15px;
	border: none;
	padding: 10px 15px;
	outline: none;
	line-height: 1.25em;
}
.bubble.reply-freeform {
	margin: 0;
}
.bubble.reply.reply-freeform.say .bubble-content .bubble-button {
	margin-top: 1px;
	text-align: left;
}
.bubble.reply.say.bubble-hidden {
	margin: 0;
	transform: scale(0);
	height: 0;
}
/* style user response reply */
.bubble.reply {
	background: transparent;
	box-shadow: none;
	float: right;
	position: relative;
	transform-origin: right top;
	margin: 8px 0 10px;
	padding: 0;
	max-width: 65%;
}
.bubble.reply.history {
	margin: 0 0 2px 0; /* remembered bubbles do not need to stand out via margin */
}
.bubble.reply.say {
	/*
    min-width: 350px;
   */
}
.bubble.reply .bubble-content {
	transition: all 200ms;
}
.bubble.reply .bubble-content .bubble-button {
	height :auto;
	background: #00aeef;
	color: #fff;
	padding: 6px 14px;
	border-radius: 15px 15px 5px 5px;
	margin-left: 2px;
	text-align: center;
	display: inline-block;
	float: right;
	cursor: pointer;
	transition: all 200ms;
	text-decoration: none;
	word-break: normal;
	box-sizing: content-box;
	/* animation-duration: 1s; */
	animation-name: animate-reply;
	animation-play-state: paused;
	animation-fill-mode: forwards;
	/* opacity: 0; */
	transform: translate3d(0px, 0px, 0px);
	animation-delay: -3s;
	-ms-animation-delay: -3;
	-webkit-animation-delay: -3s;
}
@keyframes animate-reply {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.bubble.reply.say .bubble-content .bubble-button {
	animation-play-state: running;
	margin-top: 3px;
	max-height: 24px;
	overflow: hidden;
}

.bubble.reply .bubble-content .bubble-button:first-child {
	border-radius: 15px 15px 15px 5px;
	margin-left: 2px;
}
.bubble.reply .bubble-content .bubble-button:last-child,
.bubble.reply .bubble-content .bubble-button.bubble-pick {
	white-space: nowrap;
	text-overflow: ellipsis;
	max-height: 30px;
	max-width: 250px;
	border-radius: 15px 15px 5px 15px;
}
.bubble.reply.bubble-picked .bubble-content .bubble-button {
	transform: scale(0) translate3d(0px, 0px, 0px);
	padding: 0;
}
.bubble.reply:not(.bubble-picked) .bubble-content .bubble-button:hover,
.bubble.reply .bubble-content .bubble-button.bubble-pick {
	background: rgba(74, 152, 204, 1);
	transform: scale(1) translate3d(0px, 0px, 0px);
	padding: 8px 16px;
	height: auto;
}

/* interaction recall styles */
.bubble.history .bubble-content .bubble-button,
.bubble.history.reply:not(.bubble-picked) .bubble-content .bubble-button:hover,
.bubble.history.reply .bubble-content .bubble-button.bubble-pick {
	background: rgba(44, 44, 44, 0.67);
	cursor: default;
}

.bubble-button.bubble-pick {
	height: 1000px;
}
/* input fields for bubbles */
.bubble .bubble-content input {
	background: linear-gradient(193deg, #1faced, #5592dc 100%) !important;
	box-shadow: 0 0px 1px 0px #000, 0 -1px 0 0px rgba(255, 255, 255, 0.38) inset;
	text-shadow: 0 1px rgba(0, 0, 0, 0.35);
	border: 0;
	outline: 0;
}
.bubble .bubble-content input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(255, 255, 255, .5);
	text-shadow: none;
}
.bubble .bubble-content input::-moz-placeholder {
	/* Firefox 19+ */
	color: rgba(255, 255, 255, .5);
	text-shadow: none;
}
.bubble .bubble-content input:read-only {
	background: linear-gradient(166deg, #48121d, #0d4058 100%) !important;
}
.input-wrap {
	background-color:white;
	border-top: 2px solid #ecb82c;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	/*border-image-source: linear-gradient(#ecb82c, #ffe195);*/
	/*border-image-slice: 1;*/
}